* {
  font-family: "Lato", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: #4d9de0;
}
body {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#root {
  width: 100%;
  overflow-y: auto;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 1rem;
  padding-right: 1rem;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
